    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="index-1.html">About</a>
                            <ul>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Our staff</a></li>
                                <li><a href="#">What’s new?</a>
                                    <ul>
                                        <li><a href="#">Archive</a></li>
                                        <li><a href="#">Fresh news</a></li>
                                    </ul>
                                </li>
                           </ul>
                        </li>
                        <li><a href="index-2.html">Services</a></li>
                        <li><a href="index-3.html">Booking</a></li>
                        <li><a href="index-4.html">Rooms</a></li>
                        <li><a href="index-5.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-1">
        <h1><a href="index.html"><%= image_tag("logo.png")  %></a></h1>
    </div>

