<%= content_for :header_banner do %>
   <div class="bg-1-wrapper"> 
        <%= image_tag("slide-1.jpg", :class => "inside") %>
        <div class="bg-1">
            <h1><%= link_to image_tag("logo.png"), root_url %></h1>
        </div>
    </div>
<% end %>


     <div class="bord-1">
        <div class="container_12">
            <div class="row">
                <div class="grid_8">
                    <h2 class="v2">About the Caravan</h2>
                    <p>Check up on the Caravan</p>

                </div>
               <div class="grid_3">
                <h2 class="v2">Pictures:</h2>
               </div>
           </div>
      </div>
     
   </div>
 
