<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   Hello i'm the <b>Contact</b> system on the website :<br />
   <br />
   <br />
   From name : <%= @contact_var['name']; %><br />
   Email : <%= @contact_var['email']; %><br />
   Telephone : <%= @contact_var['telephone']; %><br />
   -------- Message --------<br /><br />
   <%= @contact_var['message']; %>
  </body>
</html>  
